li{
		display: inline-block;
}
h1 {
    text-align: center;
    color: green;
}


#navigationID{
   text-align: center;
}

.navigation {
	background-color: green;
    overflow: hidden;
	padding: 12px 20px;
    margin: 8px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    
}

.navigation a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

#logout {
	float: right;
}

#searchID {
	float: right;
    margin: 8px 8px;
}

#summaryID {
    width: 15%;
    background-color: #e3e2e1;
    padding: 14px 20px;
    margin: 8px 0px;
    margin-right: 20px;
	float: right;
}

#title {
	text-align: center;
    padding: 14px 20px;
    margin: 8px 8px;
}


#finishID {
	text-align: center;
    width: 15%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
	margin: auto;
	float: right;
	margin-right: 20px;
	position: fixed;
    bottom: 330px;
    right: 20px;
}

#div1 {
	text-align: center;
	float: center;
	width: 50%;
	height: 400px;
    background-color: #e3e2e1;
    padding: 14px 20px;
    margin: auto;
    margin-top: 14px;
    overflow-y: scroll;
}


#questionsID {
	background-color: #959595;
    width: 15%;
    height: 80%;
    text-align:center;
    padding: 14px 20px;
    margin: 8px 0px;
    margin-left: 20px;
    float: left;
}

.questionsClass a {
	float: center;
	display: block;
	color: #008000;
	text-align: center;
	padding: 14px 0px;
	margin: auto;
	text-decoration: none;
	width: 70%;
}

