li{
		display: inline-block;
}
h1 {
    text-align: center;
    color: green;
}


#navigationID{
   text-align: center;
}

.navigation {
	background-color: green;
    overflow: hidden;
	padding: 12px 20px;
    margin: 8px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    
}

.navigation a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

#logout {
	float: right;
}

#searchID {
	float: right;
    margin: 8px 8px;
}

#summaryID {
    width: 15%;
    background-color: #13232f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    margin-right: 20px;
	float: right;
}

#title {
	text-align: center;
    padding: 14px 20px;
    margin: 8px 8px;
}


#finishID {
	text-align: center;
    width: 15%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
	margin: auto;
	float: right;
	margin-right: 20px;
	position: fixed;
    bottom: 330px;
    right: 20px;
}



#questionsID {
	background-color: #13232f;
    width: 15%;
    height: 80%;
    text-align:center;
    padding: 7px 20px;
    margin: 4px 0px;
    margin-left: 20px;
    float: left;
}

.questionsClass a {
	float: center;
	display: block;
	color: #008000;
	text-align: center;
	padding: 2px 0px;
	margin: auto;
	text-decoration: none;
	width: 70%;
}


.questionsClass button {
    background-color: #1ab188; /* Green */
    border: none;
    color: white;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.questionsClass button:hover {
    background-color: white;
    color: #1ab188;
}




input[type=text], select {
   // width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #808080;
    border-radius: 4px;
    box-sizing: border-box;
}


#div1 textarea {
   // width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #808080;
    border-radius: 4px;
    box-sizing: border-box;
}

#div1 text {
   // width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #808080;
    border-radius: 4px;
    box-sizing: border-box;
}

#div1 {
	background-color: #1ab188;
}

#div1 p{
	color: white;
	margin-top: 2.5px;
    margin-bottom: 2.5px;
    textalign: center;
	font-weight: bold;
	font-size: 25px;
}



