h1 {
    text-align: center;
    color: green;
}

#navigationID{
   text-align: center;
}

.navigation {
	background-color: green;
    overflow: hidden;
	padding: 12px 20px;
    margin: 8px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    
}

.navigation a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

#logout {
	float: right;
}

#searchID {
	float: right;
    margin: 8px 8px;
}

#quizCreationID {
    text-align: center;   
}

#mainForm1 {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid red;
    border-radius: 4px;
    box-sizing: border-box;
}

#mainForm2 {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid red;
    border-radius: 4px;
    box-sizing: border-box;
      
}

input [type = radio], slecet {
	border: 2px solid red;
}


#start {
    width: 15%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
}

