h1 {
	text-align: center;
	color: green;
}

h2 {
	text-align: right;
	color: #400040;
}

.user {
	font-size: 30px;
	float: right;
}

.navigation {
	background-color: #13232f;
	overflow: hidden;
	padding: 12px 20px;
	margin: 8px 0;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.navigation a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

#logout {
	float: right;
}

#logoutbutton {
	background-image:
		url("http://icons.veryicon.com/ico/System/100%20Flat%20Vol.%202/inside%20logout.ico");
}

#searchID {
	float: right;
	margin: 8px 8px;
}

#generalInfo {
	font-family: arial;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	margin: 1%;
	width: 20%;
	float: left;
}

#generalInfo div {
	color: white;
	background-color: #13232f;
	border-radius: 12px;
}

#generalInfo li {
	list-style-type: upper-roman;
}

#myInfo li {
	list-style-type: upper-roman;
}

#generalInfo a:link {
	color: #bafff4;
}

#generalInfo a:visited {
	color: #00ce82;
}

#generalInfo a:hover {
	color: #00ce82;
}

#myInfo {
	font-family: arial;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	text-transform: capitalize;
	font-variant: small-caps;
	margin: 1%;
	width: 20%;
	float: right;
}

#myInfo div {
	color: white;
	background-color: #13232f;
	border-radius: 12px;
}

#myInfo a:link {
	color: #bafff4;
}

#myInfo a:visited {
	color: #00ce82;
}

#myInfo a:hover {
	color: #00ce82;
}

#myInfo h1 {
	color: white;
	text-align: center;
	font-size: 20px;
	text-transform: capitalize;
	font-variant: small-caps;
}

#generalInfo h1 {
	color: white;
	text-align: center;
	font-size: 20px;
	text-transform: capitalize;
	font-variant: small-caps;
}

#announcements {
	border-radius: 12px;
	background-color: #1c6f7a;
	width: 56%;
	margin: auto;
	text-align: center;
}

#announcement-title {
	color: white;
	font-weight: bold;
	font-size: 30px;
}

.icon-bar a {
	display: block;
	text-align: center;
	padding: 16px;
	transition: all 0.3s ease;
	color: white;
	font-size: 36px;
}

#btn {
	background-color: #4CAF50;
	color: white;
	border: 2px solid white;
	font-size: 20px;
	cursor: pointer;
}

#announcementStyle {
	color: white;
}

#announcementStyle p {
	color: #13232f;
	text-indent: 50px;
	font-size: 20px;
	text-align: left;
	padding: 30px;
	font-family: courier;
	background-color: #c9e0f2;
	border-radius: 8px;
}

#announcementStyle h1 {
	color: #6bf9c8;
	text-indent: 50px;
	font-size: 30px;
	text-align: center;
	font-family: verdana;
}