h1 {
    text-align: center;
    color: green;
}
h2	 {
    text-align: right;
    color: #400040;
}
.user {
	font-size: 30px;
	float: right;
}

.navigation {
	background-color: #13232f;
	overflow: hidden;
	padding: 12px 20px;
	margin: 8px 0;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.navigation a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

#logout {
	float: right;
}
#logoutbutton{
    background-image : url("http://icons.veryicon.com/ico/System/100%20Flat%20Vol.%202/inside%20logout.ico");
}


#searchID {
	float: right;
    margin: 8px 8px;
}

#generalInfo {
	font-family: arial;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	margin: 1%;
	width: 20%;
	float: left;
}


#generalInfo div{
	
	background-color: #e3e2e1;
	border: 2px solid green;
}




#myInfo {
	font-family: arial;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	margin: 1%;
	width: 20%;
	float: right;
}


#myInfo div{
	background-color: green;
	border: 2px solid green;
	color: white;
}

#announcements {
	background-color: #e3e2e1;
	width: 56%;
	margin: auto;
	text-align: center;
}

#announcement-title {
	font-weight: bold;
	font-size: 30px;
}


.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
}
#btn {
    background-color: #4CAF50;
    color: white;
    border: 2px solid white;
    font-size: 20px;
    cursor: pointer;
}

#btn:hover {
}