h1 {
    text-align: center;
    color: green;
}


#navigationID{
   text-align: center;
}

.navigation {
	background-color: green;
    overflow: hidden;
	padding: 12px 20px;
    margin: 8px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    
}

.navigation a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

#info {
	width: 50%;
	height: 200px;
	float: center;
	text-align: center;
	margin: auto;
	margin-top: 20px;
	background-color: #808080;
}

#addFriendID {
	width: 15%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    margin-left: 43%;
}

#acceptID {
	width: 15%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    margin-left: 43%;
}

#rejectID {
	width: 15%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    margin-left: 43%;
}


