#summaryID {
    width: 15%;
    background-color: #e3e2e1;
    padding: 14px 20px;
    margin: 8px 0px;
    margin-right: 20px;
	float: right;
}

#elapsedtime {
    background-color: #e3e2e1;
	float: center;
}

#butt {
	text-align: center;
    width: 15%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
	margin: 0 auto;
    margin-top: 20%;
    margin-left: 40%;
}

#questions {
	text-align: center;
	width: 60%;
	background-color: #959595;
	margin-left: 20%;
	margin-top: 20px;
}

#subm{
	text-align: center;
}

#timeLeft{
	background-color: #e3e2e1;
    padding: 14px 20px;
	float: right;
}

