h1 {
    text-align: center;
    color: green;
}

#navigationID{
   text-align: center;
}

.navigation {
	background-color: green;
    overflow: hidden;
	padding: 12px 20px;
    margin: 8px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    
}

.navigation a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

#logout {
	float: right;
}

#searchID {
	float: center;
	text-align: center;
    margin: auto;  
}

#searchInput {
	width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid red;
    border-radius: 4px;
    box-sizing: border-box; 	
}

#searchButton {
    width: 15%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
}

#res {
	height: 400px;
	width: 60%;
	text-aliogn: center;
	float: center;
	font-size: 20px;
	background-color: #e3e2e1;
	margin: auto;
	/* background-image: url("images/47847.png"); */
}


#quizRes {
	margin: auto;
	margin-top: 2%;
	background-color: #e3e2e1;
	width: 60%;	
	font-size: 20px;
	float: center;
	text-align: center;
}

#accountsRes {
	margin: auto;
	margin-top: 2%;
	background-color: #e3e2e1;
	width: 60%;	
	font-size: 20px;
	float: center;
	text-align: center;
}


